<div id="preogressbar"></div>
<div id="scrollpath"></div>
<div id="percent"></div>

<div class="controls">
    <label for="spacing">Spacing:</label>
    <input type="range" id="spacing" name="spacing" min="10" max="100" value="10" data-sizing="px" />

    <label for="spacing">Blur:</label>
    <input type="range" id="blur" name="blur" min="0" max="25" value="10" data-sizing="px" />

    <label for="base">Base color</label>
    <input id="base" name="base" type="color">


</div>

<div class="container">

    <h1>
        <span>M</span>
        <span>y</span>
        <span>s</span>
        <span>t</span>
        <span>r</span>
        <span>a</span>
        <span>g</span>
        <span>r</span>
        <span>a</span>
        <span>m</span>
    </h1>
    <div id="searchbox">
        <input type="text" name="search" class="search" placeholder="Search photos">
        <button id="go">Search</button>
    </div>
    <div class="gallery"></div>

</div>


<script src="./index.js"></script>